In [31]:
import pandas as pd
import numpy as np
from sqlalchemy.engine import create_engine
import psycopg2
from sort_tools_v2 import Data_construct
from DBPass import password
from sqlalchemy.types import Text, Numeric, DateTime, String, Integer, Float
from sqlalchemy import text

data_root=r"C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset"
whiskey=Data_construct(data_root)
whiskey.run()

*** Finding Data Paths ***
Adding authors:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\authors.csv to analysis
Adding categories:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\categories.csv to analysis
Adding clusters:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\clusters.csv to analysis
Adding rev:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\features_rev.csv to analysis
Adding prop:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\features_rev_prop.csv to analysis
Adding reviews:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\reviews.csv to analysis
Adding description:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\vector_description.csv to analysis
Adding stats:C:\Users\gspah\Documents\Python Scripts\whiskey_recommender_app\dataset\whiskey_stats.csv to analysis
*** Loading Data Paths ***
authors loaded from csv
categories loaded from csv
clusters loaded from csv
rev loaded from csv
prop loaded from csv
reviews loaded from csv
description loaded from csv
stats loaded from csv
data_paths_found:
{'authors': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\authors.csv', 'categories': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\categories.csv', 'clusters': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\clusters.csv', 'rev': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\features_rev.csv', 'prop': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\features_rev_prop.csv', 'reviews': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\reviews.csv', 'description': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\vector_description.csv', 'stats': 'C:\\Users\\gspah\\Documents\\Python Scripts\\whiskey_recommender_app\\dataset\\whiskey_stats.csv'}

In [47]:
con = psycopg2.connect(f'dbname=WhiskyAdvocate user= postgres password ={password} host = 127.0.0.1 port = 5432')

In [33]:
def construct_table(df:object, name_string:str, dtype_dict:dict, p_key:str, fk_list:list, ref_list:list, eng:object) -> str:
        
    '''
    This function inserts a df into a database, and automatically 

    This is a function that relies on sql alchemy to create a table in an oracle database
    eng is a sql alchemy engine object

    function uses PostgreSQL
    '''        
    #make table with pd.df.to_sql()
    df.to_sql(name_string, eng, if_exists = 'replace', index = False, dtype = dtype_dict)        
    #set primary key
    pk_query = f'ALTER TABLE {name_string} ADD PRIMARY KEY ({p_key})'
    with eng.connect() as conn:
        conn.execute(text(pk_query))        
    #set foreign keys
    if fk_list == True:        
        for k, r in zip(fk_list, ref_list):            
            fk_query = f'ALTER TABLE {name_string} ADD FOREIGN KEY ({k}) REFERENCES {r}({k})'            
            with eng.connect() as conn:
                conn.execute(text(fk_query))
    return f'{name_string} table created'

In [34]:
whiskey.dfs['authors'].head()

   author_id                author
0          0         Adam Polonski
1          1            Dave Broom
2          2         David Fleming
3          3  Davin de Kergommeaux
4          4       Dominic Roskrow

In [35]:
#insert authors
engine=create_engine(f"postgresql+psycopg2://postgres:{password}@localhost:5432/WhiskyAdvocate")
auth_types={'author_id':Integer(), 'author': String(30) }

construct_table(whiskey.dfs['authors'], 'authors', auth_types, 'author_id', [], [], engine)

'authors table created'

In [36]:
whiskey.dfs['categories'].head()

   category_id               category
0            0  American Malt Whiskey
1            1       American Whiskey
2            2      Australian Whisky
3            3        Austrian Whisky
4            4         Belgian Whisky

In [37]:
cat_types={'category_id':Integer(), 'category': String(50) }

construct_table(whiskey.dfs['categories'], 'categories', cat_types, 'category_id', [], [], engine)

'categories table created'

In [38]:
whiskey.dfs['stats'].head()

,whiskey_id,category_id,name,score,price_usd,sale_volume,percent_abv
0,0,0,Spirit Hound Single Barrel Straight Malt (Barr...,88,55.0,750,45.0
1,1,0,Dogfish Head Straight Malt 40%,87,40.0,750,40.0
2,2,0,Balcones Texas Bock Straight Malt Whiskey 50%,87,40.0,750,50.0
3,3,0,Woodford Reserve Straight Malt Whiskey 45.2%,86,35.0,750,45.2
4,4,0,Spirit Hound Colorado Honey Malt (Barrel No. 4...,85,65.0,750,45.0

In [39]:
stat_types={'whiskey_id':Integer(), 'category_id':Integer(), 'name':String(200), 'score':Integer(), 'price_usd':Float(),
           'sale_volume':String(40), 'percent_abv':Float()}
construct_table(whiskey.dfs['stats'], 'whiskey_stats', stat_types, 'whiskey_id', ['category_id'], ['categories'], engine)

'whiskey_stats table created'

In [40]:
pd.set_option('display.max_column', None)
whiskey.dfs['description']['description_id']=np.arange(len(whiskey.dfs['description']))
whiskey.dfs['description'].head()

,oak,vanilla,sweet,chocolate,fruit,spice,orange,pepper,cinnamon,smoke,caramel,sherry,toffee,honey,apple,citrus,ginger,peat,lemon,dry,leather,sugar,cherry,toasted,tobacco,licorice,nuts,floral,bitter,complex,subtle,coconut,whiskey_id,description_id
0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1
2,2,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
3,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3
4,0,0,1,1,0,0,0,0,0,0,0,0,0,2,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4

In [41]:
vect_types={key:Integer() for key in whiskey.dfs['description'].keys()}
construct_table(whiskey.dfs['description'], 'vector_descriptions', vect_types, 'description_id', 
                ['whiskey_id'], ['whiskey_stats'], engine)

'vector_descriptions table created'

In [42]:
whiskey.dfs['rev']['feature_id']=np.arange(len(whiskey.dfs['rev']))
whiskey.dfs['rev'].head()

,fruity_words,wood_words,spicy_words,sweet_words,maillard_words,smoke_words,sherry,white,hot,bitter,complex,subtle,floral,whiskey_id,feature_id
0,2,1,2,0,0,0,0,0,0,0,0,0,1,0,0
1,2,0,0,1,2,0,0,0,0,0,0,0,0,1,1
2,1,2,1,1,1,0,0,0,0,0,0,0,0,2,2
3,1,0,0,3,0,0,0,0,0,0,0,0,0,3,3
4,2,0,0,3,1,0,0,0,0,0,0,0,0,4,4

In [43]:
feat_types={key:Integer() for key in whiskey.dfs['rev'].keys()}
construct_table(whiskey.dfs['rev'], 'features_rev', feat_types, 'feature_id', ['whiskey_id'], ['whiskey_stats'], engine)

'features_rev table created'

In [44]:
whiskey.dfs['reviews']['review_id']=np.arange(len(whiskey.dfs['reviews']))
whiskey.dfs['reviews'].head()

,whiskey_id,author_id,review,review_id
0,0,12,Floral with some hoppy aromas to start as well...,0
1,1,12,Lots of confectionary notes on the nose: orang...,1
2,2,2,Balcones has partnered with fellow Texan Spoet...,2
3,3,8,This malt whiskey shows some maple syrup and h...,3
4,4,12,Straight malt whiskey finished in barrels that...,4

In [45]:
rev_types={'review':String(5000), 'whiskey_id':Integer(), 'author_id':Integer(), 'review_id':Integer()}
construct_table(whiskey.dfs['reviews'], 'reviews', rev_types, 'review_id', ['whiskey_id', 'author_id'], 
                ['whiskey_stats', 'authors'], engine)

'reviews table created'

In [49]:
whiskey.dfs['clusters']['cluster_id']=np.arange(len(whiskey.dfs['clusters']))
whiskey.dfs['clusters'].head()

   whiskey_id  clustering  cluster_id
0           0           0           0
1           1           1           1
2           2           2           2
3           3           3           3
4           4           4           4

In [50]:
clus_types={key:Integer() for key in whiskey.dfs['clusters'].keys()}
construct_table(whiskey.dfs['clusters'], 'clusters', clus_types, 'cluster_id', ['whiskey_id'], ['whiskey_stats'], engine)

'clusters table created'

In [ ]:
con.close()